<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <!-- Agregamos FontAwesome para los iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-/+EyC9YntA+nz9rP6bzwv4DEfwxQ2cFvB+H9vvGzvAbfF1p0/xxm6StGQhqMmkFIn+9qUcRKt8U9m92OLNf0ww==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <!-- Columna de la Lista de Usuarios -->
            <div class="col-md-8">
                <a href="http://localhost:3000/" class="text-decoration-none">
                    <i class="fas fa-arrow-left me-2"></i> Volver
                </a>
                <h1>Lista de Usuarios</h1>
                
                <!-- Lista de Usuarios existentes -->
                <ul class="list-group">
                    <% for (let i = users.length - 1; i >= 0; i--) { %>
                        <li class="list-group-item">
                            <p><strong>ID:</strong> <%= users[i]._id %></p>
                            <p><strong>username:</strong> <%= users[i].username %></p>
                            <p><strong>name:</strong> <%= users[i].name %></p>
                            <p><strong>email:</strong> <%= users[i].email %></p>
                            <p><strong>password:</strong> <%= users[i].password %></p>
                            <p><strong>active:</strong> <%= users[i].active %></p>
                        </li>
                    <% } %>
                </ul>
            </div>



            <!-- Columna del Panel de Administración -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Administración de Usuarios</h5>
                    
                        <button class="btn btn-info" onclick="recargarPagina()">Leer</button>
                        <div class="spinner-border text-info d-none" role="status" id="loadingSpinner">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <script>
                            function recargarPagina() {
                                console.log('Inicio de recargarPagina');
                                document.getElementById('loadingSpinner').classList.remove('d-none');
                                setTimeout(() => {
                                    location.reload();
                                    console.log('Página recargada');
                                    document.getElementById('loadingSpinner').classList.add('d-none');
                                }, 700);
                            }
                        </script>

                        <!----------------------------------------------- Formulario para Crear un Usuario ----------------------------------------------->
                        <button class="btn btn-success mb-2" data-bs-toggle="collapse" data-bs-target="#crearForm">Crear</button>

                        <div class="collapse" id="crearForm">
                            <form id="crearUserForm" action="/usersPost" method="POST">
                                <div class="mb-3">
                                    <label for="user" class="form-label">User:</label>
                                    <textarea class="form-control" id="User" name="User" rows="3" required></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="name" class="form-label">Nombre:</label>
                                    <input type="text" class="form-control" id="name" name="name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="username" class="form-label">Nombre de Usuario:</label>
                                    <input type="text" class="form-control" id="username" name="username" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">email:</label>
                                    <input type="text" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Contraseña:</label>
                                    <input type="text" class="form-control" id="password" name="password" required>
                                </div>
                                <button type="button" class="btn btn-success mb-2" onclick="crearUser()">Guardar</button>
                            </form>
                        </div>

                        <script>
                            function crearUser() {
                                console.log('Inicio de crearUser');
                                const username = document.getElementById('username').value;
                                const name = document.getElementById('name').value;
                                const email = document.getElementById('email').value;
                                const password = document.getElementById('password').value;

                                if (!username || !name || !email || !password) {
                                    alert("Todos los campos son obligatorios");
                                    console.log('Fin de crearUser - Campos incompletos');
                                    return;
                                }

                                document.getElementById('crearUserForm').action = '/usersPost';

                                fetch('/usersPost', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify({ username, name, email, password }),
                                })
                                .then(response => response.json())
                                .then(data => {
                                    console.log('Respuesta del servidor:', data);

                                    setTimeout(() => {
                                        location.href = '/users';
                                        console.log('Página recargada después de crear un nuevo usuario');
                                    }, 1000);
                                })
                                .catch(error => {
                                    console.error('Error al enviar la solicitud POST:', error);
                                    alert('Error al crear el nuevo usuario. Consulta la consola para más detalles.');
                                });

                                console.log('Fin de crearUser');
                            }
                        </script>
                        <!----------------------------------------------- Formulario para Crear un nuevo Usuario ----------------------------------------------->

                        <!----------------------------------------------- Formulario para Actualizar un Usuario ----------------------------------------------->
                    
                        <button class="btn btn-warning mb-2" data-bs-toggle="collapse" data-bs-target="#editarForm">Actualizar</button>
                        <div class="collapse" id="editarForm">
                            <form id="editarUserForm" method="PUT" action="">                                
                                <div class="mb-3">
                                    <label for="idActualizar" class="form-label">ID del Usuario a Actualizar:</label>
                                    <input type="text" class="form-control" id="idActualizar" name="idActualizar" required>
                                </div>
                                <div class="mb-3">
                                    <label for="nuevoUsername" class="form-label">Nuevo Nombre de Usuario:</label>
                                    <input type="text" class="form-control" id="nuevoUsername" name="nuevoUsername" required>
                                </div>
                                <div class="mb-3">
                                    <label for="nuevoName" class="form-label">Nuevo Nombre:</label>
                                    <input type="text" class="form-control" id="nuevoName" name="nuevoName" required>
                                </div>
                                <div class="mb-3">
                                    <label for="nuevoEmail" class="form-label">Nuevo Correo:</label>
                                    <input type="text" class="form-control" id="nuevoEmail" name="nuevoEmail" required>
                                </div>
                                <div class="mb-3">
                                    <label for="nuevoPassword" class="form-label">Nuevas Contraseña:</label>
                                    <input type="text" class="form-control" id="nuevoPassword" name="nuevoPassword" required>
                                </div>
                                <button type="button" class="btn btn-warning" onclick="confirmarActualizar()">Actualizar</button>
                            </form>
                        </div>
                        <script>
                            function confirmarActualizar() {
                                console.log('Inicio de confirmarActualizar');

                                const idActualizar = document.getElementById('idActualizar').value;
                                const nuevoUsername = document.getElementById('nuevoUsername').value;
                                const nuevoName = document.getElementById('nuevoName').value;
                                const nuevoEmail = document.getElementById('nuevoEmail').value;
                                const nuevoPassword = document.getElementById('nuevoPassword').value;

                                if (!idActualizar || !nuevoUsername || !nuevoName || !nuevoEmail || !nuevoPassword) {
                                    alert("Todos los campos son obligatorios");
                                    console.log('Fin de confirmarActualizar - Campos incompletos');
                                    return;
                                }

                                document.getElementById('editarUserForm').action = '/usersUpdate/' + idActualizar;

                                fetch('/usersUpdate/' + idActualizar, {
                                    method: 'PUT',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify({ 
                                        username: nuevoUsername,
                                        name: nuevoName,
                                        email: nuevoEmail,
                                        password: nuevoPassword
                                    }),
                                })
                                .then(response => response.json())
                                .then(data => {
                                    console.log('Respuesta del servidor:', data);
                                    setTimeout(() => {
                                        location.reload();
                                        console.log('Página recargada después de actualizar un usuario');
                                    }, 1000);
                                })
                                .catch(error => {
                                    console.error('Error al enviar la solicitud PUT:', error);
                                    alert('Error al actualizar el usuario. Consulta la consola para más detalles.');
                                });

                                console.log('Fin de confirmarActualizar');
                            }
                        </script>


                        <!----------------------------------------------- Formulario para Actualizar un Usuario ----------------------------------------------->

                        <!----------------------------------------------- Formulario para Eliminar un Usuario por ID ----------------------------------------------->
                        <button class="btn btn-danger mb-2" data-bs-toggle="collapse" data-bs-target="#eliminarForm">Eliminar</button>
                        <div class="collapse" id="eliminarForm">
                        
                            <form id="eliminarUserForm" method="DELETE" action="">
                                <div class="mb-3">
                                    <label for="idEliminar" class="form-label">ID del Usuario a Eliminar:</label>
                                    <input type="text" class="form-control" id="idEliminar" name="idEliminar" required>
                                </div>
                                <button type="button" class="btn btn-danger" onclick="confirmarEliminar()">Eliminar</button>
                            </form>                                                       
                        </div>
                        
                        <script>
                            function confirmarEliminar() {
                            console.log('Inicio de confirmarEliminar');
                            const idEliminar = document.getElementById('idEliminar').value;
                            alert("ID a eliminar: " + idEliminar);
                            if (!idEliminar) {
                                alert("ID no válido");
                                console.log('Fin de confirmarEliminar - ID no válido');
                                return;
                            }
                            document.getElementById('eliminarUserForm').action = '/usersDelete/' + idEliminar;
                            fetch('/usersDelete/' + idEliminar, {
                                method: 'DELETE',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                            })
                            .then(response => response.json())
                            .then(data => {
                                console.log('Respuesta del servidor:', data);
                                setTimeout(() => {
                                    location.reload();
                                    console.log('Página recargada después de eliminar');
                                }, 1000);
                            })
                            .catch(error => {
                                console.error('Error al enviar la solicitud DELETE:', error);
                                alert('Error al eliminar el usuario. Consulta la consola para más detalles.');
                            });
                            console.log('Fin de confirmarEliminar');
                        }
                        </script>   
                        <!----------------------------------------------- Formulario para Eliminar un Usuario por ID ----------------------------------------------->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
